<body>
    <header>
        <img src="assets/logo.svg" alt="Logo Pokedex">
        <p>Lista de pokemons</p>
    </header>
<input type="text" pInputText [(ngModel)]="searchTerm" placeholder="Pesquisar pokemon"/>
<button pButton type="button" label="Pesquisar" (click)="search()"></button>

<p-table [value]="pokemons" 
[paginator]="true"
[rows]="10"
[showCurrentPageReport]="true"
currentPageReportTemplate="Registros {first} a {last} de um total de {totalRecords}"
[rowsPerPageOptions]="[10,50,100, 500, 1000]"
selectionMode="single" 
dataKey="pokemon_id"
(onRowSelect)="onRowSelect($event)"
[(selection)]="pokemonsSelecionado">

<ng-template pTemplate="header">
    <tr>      
          <th pSortableColumn="pokemon_id">ID <p-sortIcon field="pokemon_id"></p-sortIcon></th>    
          <th pSortableColumn="pokemon_name">Nome <p-sortIcon field="pokemon_name"></p-sortIcon></th>
          <th pSortableColumn="form">Forma <p-sortIcon field="form"></p-sortIcon></th>
          <th pSortableColumn="base_attack">Ataque <p-sortIcon field="base_attack"></p-sortIcon></th>
          <th pSortableColumn="base_defense">Defesa <p-sortIcon field="base_defense"></p-sortIcon></th>
          <th pSortableColumn="base_stamina">Stamina <p-sortIcon field="base_stamina"></p-sortIcon></th>
      </tr>
</ng-template>

<ng-template pTemplate="body" let-pokemon let-i = "rowIndex" >
      <tr (click)="onRowSelect(i)">
        <td>{{ i }}</td>
        <td>{{ pokemon.pokemon_name }}</td>
        <td>{{ pokemon.form }}</td>
        <td>{{ pokemon.base_attack }}</td>
        <td>{{ pokemon.base_defense }}</td>
        <td>{{ pokemon.base_stamina }}</td>
      </tr>
</ng-template>
  </p-table>