<a class="pokemon">
<div *ngIf="id == 0">
    <ul>
        <li>Grass</li>
        <li>Poison</li>
    </ul>
    <img src="https://assets.pokemon.com/assets/cms2/img/pokedex/detail/001.png" alt="Bulbasaur">
</div>
    <div *ngIf="id == 1">
    <ul>
        <li>Grass</li>
        <li>Poison</li>
    </ul>
    <img src="https://assets.pokemon.com/assets/cms2/img/pokedex/detail/001.png" alt="Bulbasaur">
</div>
<div *ngIf="id == 2">
    <ul>
        <li>Grass</li>
        <li>Poison</li>
    </ul>
<img src="https://assets.pokemon.com/assets/cms2/img/pokedex/detail/002.png" alt="Ivysaur">
</div>
<div *ngIf="id == 3">
    <ul>
        <li>Grass</li>
        <li>Poison</li>
    </ul>
<img src="https://assets.pokemon.com/assets/cms2/img/pokedex/detail/003.png" alt="Venusaur">

</div>
<div *ngIf="id == 4">
    <ul>
        <li>Grass</li>
        <li>Poison</li>
    </ul>
<img src="https://assets.pokemon.com/assets/cms2/img/pokedex/detail/003.png" alt="Venusaur">
</div>
<div *ngIf="id == 5">
    <ul>
        <li>Fire</li>
    </ul>
    <img src="https://assets.pokemon.com/assets/cms2/img/pokedex/detail/004.png" alt="Charmander">
</div>
<div *ngIf="id == 6">
    <ul>
        <li>Fire</li>
    </ul>
    <img src="https://assets.pokemon.com/assets/cms2/img/pokedex/detail/004.png" alt="Charmander">
</div>
<div *ngIf="id == 7 ">
    <ul>
        <li>Fire</li>
    </ul>
    <img src="https://assets.pokemon.com/assets/cms2/img/pokedex/detail/005.png" alt="Charmeleon">
</div>
<div *ngIf="id == 8">
    <ul>
        <li>Fire</li>
        <li>Flying</li>
    </ul>
    <img src="https://assets.pokemon.com/assets/cms2/img/pokedex/detail/006.png" alt="Charizard">
</div>
<div *ngIf="id == 9">
    <ul>
        <li>Fire</li>
        <li>Flying</li>
    </ul>
    <img src="https://assets.pokemon.com/assets/cms2/img/pokedex/detail/006.png" alt="Charizard">
</div>
<div *ngIf="id == 10">
    <ul>
        <li>Water</li>
    </ul>
    <img src="https://assets.pokemon.com/assets/cms2/img/pokedex/detail/007.png" alt="Squirtle">
</div>
<div *ngIf="id == 11">
    <ul>
        <li>Water</li>
    </ul>
    <img src="https://assets.pokemon.com/assets/cms2/img/pokedex/detail/007.png" alt="Squirtle">
</div>
<div *ngIf="id == 12">
    <ul>
        <li>Water</li>
    </ul>
    <img src="https://assets.pokemon.com/assets/cms2/img/pokedex/detail/008.png" alt="Wartortle">
</div>
<div *ngIf="id == 13">
    <ul>
        <li>Water</li>
    </ul>
    <img src="https://assets.pokemon.com/assets/cms2/img/pokedex/detail/009.png" alt="Blastoise">
</div>
<div *ngIf="id == 14">
    <ul>
        <li>Water</li>
    </ul>
    <img src="https://assets.pokemon.com/assets/cms2/img/pokedex/detail/009.png" alt="Blastoise">
</div>
<div *ngIf="id == 15">
    <ul>
        <li>Bug</li>
    </ul>
    <img src="https://assets.pokemon.com/assets/cms2/img/pokedex/detail/010.png" alt="Caterpie">
</div>
<div *ngIf="id == 16">
    <ul>
        <li>Bug</li>
    </ul>
    <img src="https://assets.pokemon.com/assets/cms2/img/pokedex/detail/011.png" alt="Metapod">
</div>
<div *ngIf="id == 17">
    <ul>
        <li>Bug</li>
        <li>Flying</li>
    </ul>
    <img src="https://assets.pokemon.com/assets/cms2/img/pokedex/detail/012.png" alt="Butterfree">
</div>
<div *ngIf="id == 18">
    <ul>
        <li>Bug</li>
        <li>Poison</li>
    </ul>
    <img src="https://assets.pokemon.com/assets/cms2/img/pokedex/detail/013.png" alt="Weedle">
</div>
<div *ngIf="id == 19">
    <ul>
        <li>Bug</li>
        <li>Poison</li>
    </ul>
    <img src="https://assets.pokemon.com/assets/cms2/img/pokedex/detail/014.png" alt="Kakuna">
</div>
<div *ngIf="id == 20">
    <ul>
        <li>Bug</li>
        <li>Poison</li>
    </ul>
    <img src="https://assets.pokemon.com/assets/cms2/img/pokedex/detail/015.png" alt="Beedrill">
</div>
<div *ngIf="id == 21">
    <ul>
        <li>Normal</li>
        <li>Flying</li>
    </ul>
    <img src="https://assets.pokemon.com/assets/cms2/img/pokedex/detail/016.png" alt="Pidgey">
</div>
<div *ngIf="id == 22">
    <ul>
        <li>Normal</li>
        <li>Flying</li>
    </ul>
    <img src="https://assets.pokemon.com/assets/cms2/img/pokedex/detail/017.png" alt="Pidgeotto">
</div>
<div *ngIf="id == 23">
    <ul>
        <li>Normal</li>
        <li>Flying</li>
    </ul>
    <img src="https://assets.pokemon.com/assets/cms2/img/pokedex/detail/018.png" alt="Pidgeot">
</div>
<div *ngIf="id == 24">
    <ul>
        <li>Normal</li>
    </ul>
    <img src="https://assets.pokemon.com/assets/cms2/img/pokedex/detail/019.png" alt="Rattata">
</div>
<div *ngIf="id == 25">
    <ul>
        <li>Normal</li>
    </ul>
    <img src="https://assets.pokemon.com/assets/cms2/img/pokedex/detail/019.png" alt="Rattata">
</div>
<div *ngIf="id == 26">
    <ul>
        <li>Normal</li>
    </ul>
    <img src="https://assets.pokemon.com/assets/cms2/img/pokedex/detail/020.png" alt="Raticate">
</div>
<div *ngIf="id == 27">
    <ul>
        <li>Normal</li>
    </ul>
    <img src="https://assets.pokemon.com/assets/cms2/img/pokedex/detail/020.png" alt="Raticate">
</div>
<div *ngIf="id == 28">
    <ul>
        <li>Normal</li>
        <li>Flying</li>
    </ul>
    <img src="https://assets.pokemon.com/assets/cms2/img/pokedex/detail/021.png" alt="Spearow">
</div>
<div *ngIf="id == 29">
    <ul>
        <li>Normal</li>
        <li>Flying</li>
    </ul>
    <img src="https://assets.pokemon.com/assets/cms2/img/pokedex/detail/022.png" alt="Fearow">
</div>
<div *ngIf="id == 30">
    <ul>
        <li>Poison</li>
    </ul>
    <img src="https://assets.pokemon.com/assets/cms2/img/pokedex/detail/023.png" alt="Ekans">
</div>
<div *ngIf="id == 31">
    <ul>
        <li>Poison</li>
    </ul>
    <img src="https://assets.pokemon.com/assets/cms2/img/pokedex/detail/024.png" alt="Arbok">
</div>
<div *ngIf="id == 32">
    <ul>
        <li>Eletric</li>
    </ul>
    <img src="https://assets.pokemon.com/assets/cms2/img/pokedex/detail/025.png" alt="Pikachu">
</div>

<header>
<h2>Nome: {{ nome }} </h2> <p></p>
<h2>Forma: {{ forma }}</h2>
<h2>Ataque: {{ ataque }}</h2>
<h2>Defesa {{ defesa }}</h2>
<h2>Stamina: {{ stamina }}</h2>
<button pButton type="button" label="Voltar"(click)="voltar()"></button>
</header>
</a>
